---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}


<div class="home">
	<div class="container">
		<h2>Welcome to Fractus Tutorials</h2>
		
		<p>We publish novice-friendly, tutorials that help software engineers learn a wide range of 
		  Open Source Frameworks, software development concepts and techniques.
		  We are committed to explain all topics on a simple way, focusing on "How things work" approach. </p>
		  
		  <ul style="list-style-type:disc">
			<li><a href="https://fractus-io.github.io/tutorials/design-patterns/">Design Patterns Tutorial</a></li>
			<li><a href="https://fractus-io.github.io/tutorials/springframework/">SpringFramework Tutorial</a></li>
			<li><a href="https://fractus-io.github.io/tutorials/akka/">Akka Tutorial</a></li>
			<li><a href="https://fractus-io.github.io/tutorials/yeoman/">Yeoman Tutorial</a></li>
			<li><a href="https://fractus-io.github.io/tutorials/ai4bl/">Artificial Intelligence for Business Leaders</a></li>
      <li><a href="https://fractus-io.github.io/tutorials/datastructures/">Data Structures</a></li>
		</ul>
		
	</div>
</div>

<!--
<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div> -->
